body
  padding:
    top: 0
    bottom: 0
    left: 250px
    right: 200px
  margin: 0
  background-image: url("..//img/Background.jpg")
  border: 3px solid red

.main_content
  border: 2px solid greenyellow
  height: 170px

.top_logo
  position: relative
  background: beige
  height: 175px

header
  display: inline-flex

.header_contact
  right: 0
  margin-left: 395px
  padding-right: 23px
  font-size: 14px

.header_contact ul
  list-style: none


.flag
  display: inline-block
  bottom: 0


.flag ul
  text-decoration: none
  list-style: none
  position: absolute
  display: inline-block

.flag_item a
  width: 60px
  display: inline-block




